<div class="text-center w-full demo-colors flex flex-col items-center">
  <h1 class="text-indigo mb-4">QIT Logo Proposal</h1>
  <div class="text-black mb-8 flex flex-wrap justify-center">
    <div class="m-3">
      <label class="mr-2">Text Color</label>
      <input type="color" [(ngModel)]="text" (change)="changeHandler('--text', $event)">
    </div>
    <div class="m-3">
      <label class="mr-2">Primary Background Color</label>
      <input type="color" [(ngModel)]="bG" (change)="changeHandler('--background', $event)">
    </div>
    <div *ngIf="!sync" class="m-3">
      <label class="mr-2">Secondary Background Color</label>
      <input type="color" [(ngModel)]="bG2" (change)="changeHandler('--secondary-bg-color', $event)">
    </div>
  </div>
  <div class="w-full h-auto max-w-md md:my-12">
    <app-logo></app-logo>
  </div>
  <div class="flex flex-wrap justify-center mb-4">
    <button type="button" [ngClass]="bGColorWheel ? 'bg-red' : 'bg-green'" class="rounded text-white p-4 mt-2 mr-2"
      (click)="bGColorWheel ? stopBGColorWheel() : restartBGColorWheel()">
      {{bGColorWheel ? 'Pause Primary Background' : 'Resume Primary Background'}}
    </button>
    <button type="button" *ngIf="!sync" [ngClass]="bG2ColorWheel ? 'bg-red' : 'bg-green'" class="rounded text-white p-4 mt-2 mr-2"
      (click)="bG2ColorWheel ? stopBG2ColorWheel() : restartBG2ColorWheel()">
      {{bG2ColorWheel ? 'Pause Secondary Background' : 'Resume Secondary Background'}}
    </button>
    <button type="button" [ngClass]="textColorWheel ? 'bg-red' : 'bg-green'" class="rounded text-white mt-2 mr-2 p-4"
      (click)="textColorWheel ? stopTextColorWheel() : restartTextColorWheel()">
      {{textColorWheel ? 'Pause Text' : 'Resume Text'}}
    </button>
    <button type="button" [ngClass]="!textColorWheel && !bGColorWheel && !bG2ColorWheel ? 'bg-green' : 'bg-red'" class="rounded text-white mt-2 mr-2 p-4"
      (click)="!textColorWheel && !bGColorWheel && !bG2ColorWheel ? startAll() : pauseAll()">
      {{!textColorWheel && !bGColorWheel && !bG2ColorWheel ? 'Resume All' : 'Pause All'}}
    </button>
    <button class="rounded bg-indigo text-white mt-2 mr-2 p-4" type="button" (click)="sync ? unsyncBackgrounds() : syncBackgrounds()">
      {{ sync ? 'Unsync Backgrounds' : 'Sync Backgrounds'}}
    </button>
  </div>
  <a href="https://github.com/codingblocks/qit-logo-proposal" class="rounded bg-green text-white mb-4 p-4">Contribute!</a>
</div>
